@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,404&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 404;
    font-style: normal;
}