@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

.header{
    padding: 1rem;
    margin-left: 30%;
}
.header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}
.header a{
    text-decoration: none;
    color: #000000;
}
.menus{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: inherit;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.menus li{
    cursor: pointer;
}
.sidebar{
    position: fixed;
    left:0;
    top:0;
    width: 25%;
    height: 100%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
.sidebar img{
    object-fit: cover;
}
.todo{
    font-weight: bold;
    font-size: 2rem;
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
}
.todo::before{
    content: url("/Vector.svg");
    margin-right: 0.3rem;
    font-size: 1rem;
}
.main{
    margin-left: 30%;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.titles h1{
    font-family: "Inria Sans",sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.titles p{
    font-family: inherit;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.titles button{
    margin: 2rem 0;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #276BFD;
    color: white;
    font-weight:bold;
    font-size: 1.6rem;
}
.titles a{
    margin: 1rem ;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

@media screen and (max-width:650px){
    .menus{
        width: 100%;
        margin-left: 0.3rem;
    }
    .todo{
        width: 100%;
        text-align: center;
        margin-bottom: 0.8rem;
    }
    .titles{
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0.5rem;
        
    }
    .titles h1{
        font-family: "Inria Sans",sans-serif;
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    .titles p{
        font-family: inherit;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width:1200px) {
    .main{
        margin-left: 0%;
    }
    .sidebar{
        display: none;
    }
    .header{
        margin-left: 0%;
    }
    
}