@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

.header{
    padding: 1rem;
    margin-left: 30%;
}
.header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: #000000;
}
.menus{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: inherit;
    font-size: 1.2rem;
}
.menus li{
    cursor: pointer;
}
.sidebar{
    position: fixed;
    left:0;
    top:0;
    width: 25%;
    height: 100%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
.sidebar img{
    object-fit: cover;
}
.todo{
    font-weight: bold;
    font-size: 2rem;
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
}
.todo::before{
    content: url("/Vector.svg");
    margin-right: 0.3rem;
    font-size: 1rem;
}
.main{
    margin-left: 30%;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.titles h1{
    font-family: "Inria Sans",sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.titles p{
    font-family: inherit;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.titles button{
    margin: 2rem 0;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #276BFD;
    color: white;
    font-weight:bold;
    font-size: 1rem;
}
.titles a{
    text-decoration: none;
    color: white;
}