.main{
    margin-left: 30%;
    margin-top: 1.5rem;
}
.grids{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 90%;
    grid-auto-flow: dense;
}
.grids > :nth-child(1){
    grid-column: span 2;
}
.grids > *{
    align-self: start;
}

@media screen and (max-width:1200px) {
    .main{
        margin-left: 0%;
    }
    .main h2{
        text-align: center;
    }
    .grids{
        width: 95%;
        margin-left: 1rem;
    }
}